# Função 

- É um bloco de código atrbuído a um nome que pode ser usado multlipas vezes.

#### Estrutura
```python
def <nome_da_função>(<parâmetros>):
    <instruções>

In [1]:
def jump():
    pass

In [ ]:
jump()

- Exemplo função

In [3]:
def oi(nome):
    print(f'Oi {nome}.')

In [4]:
oi('Debora')

Oi Debora.

In [5]:
oi('Leandro')

Oi Leandro.

In [6]:
oi('Lucas')

Oi Lucas.

- Exemplo area do retângulo

In [7]:
def area_retan(base, altura):
    area = base * altura
    return area

- Diferença entre print e return

In [8]:
oi('Lucas')
area_retan(10, 20)

Oi Lucas.

200

In [9]:
area_retan(10, 20)
oi('Lucas')

Oi Lucas.

In [10]:
oi_nome = oi('Lucas')

Oi Lucas.

In [15]:
print(oi_nome)

None

In [12]:
type(oi_nome)

NoneType

In [13]:
a = area_retan(10, 20)

In [16]:
print(a)

200

In [17]:
def area_retan(base, altura):
    area = base * altura
    print('A area é', area)
    return area

In [18]:
a = area_retan(10, 20)

A area é 200

In [19]:
a

200

- Utilizando input

In [20]:
def area_r():
    base = float(input('Qual a base? '))
    altura = float(input('Qual a altura? '))

    area = base * altura
    print('A area é', area)
    return area

In [21]:
a = area_r()

Qual a base?  10
Qual a altura?  20

A area é 200.0

In [22]:
print(a)

200.0

In [25]:
def area(base, altura):
    area = base * altura
    return area
    
base = float(input('Qual a base? '))
altura = float(input('Qual a altura? '))

minha_area = area(base, altura)

print('A area total é', minha_area)

Qual a base?  100
Qual a altura?  200

A area total é 20000.0

In [26]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [27]:
help(area)

Help on function area in module __main__:

area(base, altura)

In [28]:
area(base=10, altura=20)

200

In [29]:
area(altura=20, base=10)

200

- Função para buscar um valor em uma lista

In [30]:
def busca_valor_em_lista(valor, lista):
    if valor in lista:
        return True
    else:
        return False

In [31]:
lista_numeros = list(range(0, 10))
lista_numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
busca_valor_em_lista(10, lista_numeros)

False

In [36]:
def busca_valor_em_lista(valor, lista):
    if valor in lista:
        posicao = lista.index(valor)
        retorno = f'O valor {valor} está na lista\nSua posição é {posicao}'
        return retorno
    else:
        return False

In [38]:
busca_valor_em_lista(9, lista_numeros)

'O valor 9 está na lista\nSua posição é 9'

In [39]:
string_retorno = busca_valor_em_lista(9, lista_numeros)

In [40]:
print(string_retorno)

O valor 9 está na lista
Sua posição é 9

- Faça uma calculadora com operações de + e -

In [ ]:
def calculadora(a, b, operador):
    pass

In [64]:
def calculadora(a,b, operador):
    if operador == '+':
       resultado = a+b
    elif operador == '-':
       resultado = a-b
    elif operador == '*':
       resultado = a*b
    elif operador == '/':
       resultado = a/b
    else:
        return None
    return resultado
 
print(calculadora (5,3, '+'))
print(calculadora (10,4, '-'))
print(calculadora (7,5, '*'))

8
6
35

In [46]:
print(calculadora (7,5, '/'))

1.4

In [61]:
def calculadora(a,b, operador):
    if operador == '+':
        return a+b
    resultado = a-b
    return resultado

In [62]:
calculadora(10,10, '+')

20

In [66]:
def soma(a,b):
    return a+b

def sub(a,b):
    return a-b

def calculadora(a,b, operador):

    resultado = soma(a,b) if operador == '+' else sub(a,b)

    return resultado

In [67]:
calculadora(10, 5, '+')

15

In [69]:
calculadora(10, 5, 'budega')

5

### Variáveis locais e globais 

- variável local está dentro da função
- global está fora

In [72]:
#global
divisao = 20

def dividir(numero, denominador):
    #local
    divisao = numero/denominador
    return divisao

In [71]:
dividir(8, 2)

4.0

In [73]:
divisao

20

In [74]:
#global
divisao = 20

def dividir(numero, denominador):
    #local
    var_divisao = numero/denominador
    return divisao

In [75]:
dividir(8, 2)

20

In [76]:
var_divisao

NameError: name 'var_divisao' is not defined

In [77]:
#global
numero = 20

def soma_1(numero):
    #local
    numero = numero + 1
    return numero

In [80]:
#somar 10 + 1
soma_1(10)

11

In [85]:
def soma_1(numero):
    return numero + 1

In [86]:
#somar 10 + 1
numero = 10
soma_1(numero)

11

In [88]:
def consultar_cpf(nome):
    cpf = {'lucas': '111.111.111-51'}
    print(cpf[nome])

In [89]:
consultar_cpf('lucas')

111.111.111-51

In [90]:
cpf

NameError: name 'cpf' is not defined

In [91]:
cpf = {'lucas': '111.111.111-51'}
def consultar_cpf(nome):
    print(cpf[nome])

In [92]:
consultar_cpf('lucas')

111.111.111-51

In [93]:
cpf

{'lucas': '111.111.111-51'}

- Crie uma função que formate um número em MIL, MILHÕES E BILHÕES

In [94]:
import locale
 
def formatar_numero_locale(numero):
    locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')  # Configura o local para português do Brasil
    return locale.format_string('%.2f', numero, grouping=True)
 
# Função principal para solicitar e formatar o número
def numeroformatado():
    numero = float(input("Digite um número: "))
    resultado = formatar_numero_locale(numero)
    print("Número formatado:", resultado)
 
# Chama a função principal
numeroformatado()

Digite um número:  5000000

Número formatado: 5.000.000,00

In [96]:
k = 1_000
m = 1_000_000
b = 1_000_000_000
 
def formata_numero(numero):
    if numero >= B:
        return f"{numero / B:.2f}B"
    elif numero >= M:
        return f"{numero / M:.2f}M"
    elif numero >= K:
        return f"{numero / K:.2f}K"
    else:
        return f"{numero:.2f}"

In [97]:
formata_numero(100)

'100.00'

In [98]:
formata_numero(10000)

'10.00K'

In [99]:
formata_numero(1000000)

'1.00M'

In [100]:
formata_numero(5000000)

'5.00M'

In [101]:
K == 1000

True

In [107]:
def format_num(numero):
    unidades = ['K', 'M', 'B']

    for i in range(len(unidades)):
        #print(i) visualizar o i 
        if numero < 1_000_000:
            numero /= 1000
            return f'{numero} {unidades[i]}'
        numero /= 1000

In [108]:
format_num(5_000_000)

0
1

'5.0 M'

In [109]:
format_num(5_000_000_000)

0
1
2

'5.0 B'

In [105]:
format_num(5_000)

'5.0 K'

In [110]:
format_num(5_547)

0

'5.547 K'

In [111]:
format_num(5_000_000_000_000)

0
1
2

In [112]:
unidades

NameError: name 'unidades' is not defined