## Import

In [18]:
import pandas as pd

- Lendo e trantando um arquivo txt

In [1]:
arq_txt = open(r"C:\Users\Thiago10\OneDrive\Área de Trabalho\ARQ_JUMP_START\MODULOPYTHONJUMP\ArqeAnexos\Arquivo_mes1.txt")

- Lendo as linhas do arquivo de texto e transformando em uma lista

In [2]:
texto = arq_txt.readlines()

In [3]:
texto

['ï»¿01/07/2017107134341009 15312645.152276.13\n',
 '01/07/2017107141411028   4  242.66  43.68\n',
 '01/07/2017100719 91028 36120936.343768.54\n',
 '02/07/2017107228281010  34 5232.61 941.87\n',
 '02/07/2017107223231016 234 4457.96 802.43\n',
 '03/07/2017107335351011  21 2413.65 434.46\n',
 '03/07/2017107316161018  10  266.16  47.91\n',
 '03/07/2017107310101028  60 3504.69 630.84\n',
 '04/07/2017107433331018  15  404.35  72.78\n',
 '05/07/2017107510101009 27722888.644119.96\n',
 '06/07/2017100761 11009  60 4918.48 885.33\n',
 '06/07/2017107643431011   0    0.00   0.00\n',
 '07/07/2017107717171002  38  551.22  99.22\n',
 '07/07/2017100778 81004  40 5189.31 934.08\n',
 '07/07/2017100775 51005   8   34.00   6.12\n',
 '08/07/2017107840401012  29 4016.27 722.93\n',
 '08/07/2017107830301022   7  282.28  50.81\n',
 '09/07/2017100797 71002   6   88.99  16.02\n',
 '09/07/2017107946461007  70 4291.93 772.55\n',
 '09/07/2017100798 81024  22 1575.46 283.58\n',
 '09/07/2017107941411025  15  343.22  61.78\n',
 '09/07/2017107930301027  7310850.161953.03\n',
 '10/07/2017171016161005 371 1675.28 301.55\n',
 '10/07/2017107108 81009  23 1934.34 348.18\n',
 '10/07/2017171044441027   3  513.88  92.50\n',
 '11/07/2017171148481013  52 6945.801250.24\n',
 '12/07/2017171221211022  31 1242.03 223.57\n',
 '12/07/2017171238381024   9  662.23 119.20\n',
 '12/07/2017171240401025  65 1509.24 271.66\n',
 '14/07/2017171440401008   5  750.82 135.15\n',
 '14/07/2017171433331014   2  240.17  43.23\n',
 '14/07/2017171437371020   0    0.00   0.00\n',
 '14/07/2017171440401022188574931.4813487.6\n',
 '14/07/2017171425251023 23014499.802609.96\n',
 '15/07/2017107153 31027   6  903.04 162.55\n',
 '15/07/2017171513131027   2  323.70  58.27\n',
 '16/07/2017171615151006  18 2503.58 450.64\n',
 '16/07/2017171639391019  90 8161.481469.07\n',
 '16/07/2017107167 71019  40 3616.79 651.02\n',
 '17/07/2017171740401001  16 1064.35 191.58\n',
 '17/07/2017171721211005   8   34.82   6.27\n',
 '17/07/2017107172 21008   2  344.84  62.07\n',
 '17/07/2017171720201010  37 5707.761027.40\n',
 '17/07/2017171716161012  51 7110.251279.84\n',
 '17/07/2017171735351023   1   68.66  12.36\n',
 '18/07/2017171843431016   9  168.00  30.24\n',
 '19/07/2017171935351014  -1 -213.04 -38.35\n',
 '19/07/2017171948481017  15  426.97  76.85\n',
 '20/07/2017172038381008   5  745.00 134.10\n',
 '20/07/2017172040401008  7911522.392074.03\n',
 '20/07/2017172011111013   9 1270.88 228.76\n',
 '20/07/2017172035351014  19 2969.21 534.46\n',
 '20/07/2017172035351021   7  474.26  85.37\n',
 '20/07/2017172026261028 126 7338.411320.91\n',
 '21/07/2017172137371007 38823880.724298.53\n',
 '21/07/2017172142421007 126 7741.671393.50\n',
 '21/07/2017172132321018  78 2049.69 368.94\n',
 '22/07/2017172239391001 16510868.291956.29\n',
 '22/07/2017107229 91011  9410945.641970.21\n',
 '22/07/2017172237371012   1  147.66  26.58\n',
 '22/07/2017172243431014  14 2070.68 372.72\n',
 '22/07/2017172232321020   0    0.00   0.00\n',
 '23/07/2017107234 41009  52 4282.59 770.87\n',
 '23/07/2017172338381011 10412127.562182.96\n',
 '23/07/2017172317171013   6  801.74 144.31\n',
 '23/07/2017172312121015  10 1459.24 262.66\n',
 '24/07/2017172439391001  11  707.96 127.43\n',
 '24/07/2017172431311014 29445091.268116.43\n',
 '26/07/2017172650501005   0    1.65   0.30\n',
 '26/07/2017172631311007  51 3115.31 560.76\n',
 '26/07/2017172627271009  43 3582.40 644.83\n',
 '26/07/2017172636361017  88 2461.55 443.08\n',
 '26/07/2017172646461018  17  452.93  81.53\n',
 '26/07/2017172618181019   9  862.12 155.18\n',
 '26/07/2017172641411028  59 3397.86 611.62\n',
 '27/07/2017172714141005  39  177.89  32.02\n',
 '27/07/2017172745451007   0    0.00   0.00\n',
 '28/07/2017107287 71002  15  218.70  39.37\n',
 '28/07/2017172810101005   2   10.29   1.85\n',
 '28/07/2017172814141009  52 4284.75 771.26\n',
 '28/07/2017107287 71011   3  322.82  58.11\n',
 '28/07/2017172824241018   1   26.22   4.72\n',
 '28/07/2017107285 51023 110 6909.191243.65\n',
 '28/07/2017172828281024  26 1856.96 334.25\n',
 '28/07/2017172850501025  43 1012.31 182.22\n',
 '29/07/2017172918181004  22 2873.77 517.28\n',
 '29/07/2017172945451010  51 7898.151421.67\n',
 '30/07/2017173015151005  19   83.76  15.08\n',
 '30/07/2017173023231009  84 6930.581247.50\n',
 '30/07/2017107303 31010  49 7552.471359.44\n',
 '30/07/2017173033331011  75 8784.771581.26\n',
 '01/08/2017108126261023  23 1448.91 260.80\n',
 '02/08/2017108244441006  22 3039.54 547.12\n',
 '03/08/2017108332321002   5   71.74  12.91\n',
 '03/08/2017108343431024  74 5273.05 949.15\n',
 '04/08/2017108420201020  37  994.59 179.03\n',
 '05/08/2017108537371003   2  118.49  21.33\n',
 '05/08/2017108527271004  23 3046.74 548.41\n',
 '05/08/2017108530301005  15   65.58  11.80\n',
 '05/08/2017108550501008 65995843.3317251.8\n',
 '05/08/2017108546461018  15  388.59  69.95\n',
 '06/08/2017108630301008  9513895.972501.27\n',
 '06/08/2017108629291027  46 6757.461216.34\n',
 '07/08/2017100879 91007  13  811.88 146.14\n',
 '08/08/2017108811111009  28 2306.20 415.12\n',
 '08/08/2017100888 81016   2   41.14   7.41\n',
 '08/08/2017108848481019   4  328.85  59.19\n',
 '08/08/2017108814141023   2   94.43  17.00\n',
 '10/08/2017181021211005   0    0.00   0.00\n',
 '10/08/20171810151510112515292609.052669.6\n',
 '10/08/2017181036361015 20329887.765379.80\n',
 '10/08/2017181026261021 109 6963.301253.39\n',
 '11/08/2017181144441022   2   73.95  13.31\n',
 '12/08/2017181236361001  15 1004.91 180.88\n',
 '12/08/2017181239391006  54 7531.571355.68\n',
 '12/08/2017181216161007 108 6668.101200.26\n',
 '12/08/2017108126511012  31 4300.82 774.15\n',
 '12/08/2017108121 11017  99 2771.43 498.86\n',
 '12/08/2017181243431023  64 4049.64 728.93\n',
 '13/08/2017181317171005   6   25.17   4.53\n',
 '13/08/2017181342421028  29 1681.23 302.62\n',
 '14/08/2017108146511004  22 2892.25 520.60\n',
 '14/08/2017181419191024   0    0.00   0.00\n',
 '14/08/2017108143 31025   6  148.35  26.70\n',
 '14/08/2017181439391028 132 7660.031378.81\n',
 '15/08/2017181533331003  45 3510.88 631.96\n',
 '15/08/2017181529291018  37  961.04 172.99\n',
 '15/08/2017181522221021   8  514.05  92.53\n',
 '15/08/2017181529291024 51236317.666537.18\n',
 '16/08/2017108164 41010 914141461.925463.1\n',
 '16/08/2017181637371015   1  196.79  35.42\n',
 '16/08/2017181645451015 18226733.504812.03\n',
 '17/08/2017181713131016  23  439.64  79.13\n',
 '18/08/2017108187 71025  23  531.04  95.59\n',
 '18/08/2017181825251026  11 1219.56 219.52\n',
 '18/08/2017108185 51027  32 4724.06 850.33\n',
 '19/08/2017181914141008 15722864.914115.68\n',
 '19/08/2017181934341011  46 5372.73 967.09\n',
 '19/08/2017181936361018   2   50.29   9.05\n',
 '19/08/2017181916161022 177 7027.751265.00\n',
 '19/08/2017108196511023   2  156.71  28.21\n',
 '19/08/2017108194 41026   5  574.23 103.36\n',
 '20/08/2017182044441008 31746143.048305.75\n',
 '20/08/2017182012121014  10 1509.51 271.71\n',
 '20/08/2017182049491024 73151823.899328.30\n',
 '21/08/2017182130301015  19 2802.08 504.37\n',
 '21/08/2017182123231020  14  389.94  70.19\n',
 '22/08/2017182245451007 108 6620.241191.64\n',
 '22/08/2017182224241013   0    0.00   0.00\n',
 '22/08/2017182230301014  16 2452.21 441.40\n',
 '22/08/2017182234341019   8  720.82 129.75\n',
 '23/08/2017182327271005  32  144.12  25.94\n',
 '23/08/2017182336361007  17 1041.54 187.48\n',
 '23/08/2017182338381009 35829589.695326.14\n',
 '23/08/2017108232 21012   4  535.96  96.47\n',
 '23/08/2017182338381015  19 2769.69 498.54\n',
 '23/08/2017182337371015   5  681.74 122.71\n',
 '23/08/2017182325251027 14621557.343880.32\n',
 '24/08/2017182424241007 17010476.181885.71\n',
 '24/08/2017182411111017   4  120.99  21.78\n',
 '24/08/2017182421211027   7 1070.45 192.68\n',
 '25/08/2017182536361004  25 3285.66 591.42\n',
 '25/08/2017108252 21008  36 5264.50 947.61\n',
 '25/08/2017182510101009   6  480.01  86.40\n',
 '25/08/2017182514141021  60 3866.28 695.93\n',
 '25/08/2017182522221024  41 2929.12 527.24\n',
 '26/08/2017182642421015  65 9580.091724.42\n',
 '26/08/2017108265 51018   6  161.62  29.09\n',
 '27/08/2017182740401017  47 1317.50 237.15\n',
 '28/08/2017108288 81001   4  238.06  42.85\n',
 '28/08/2017108286511004   2  234.78  42.26\n',
 '28/08/2017182836361012   7  967.35 174.12\n',
 '28/08/2017182831311017  93 2623.03 472.14\n',
 '28/08/2017182816161020   0    0.00   0.00\n',
 '28/08/2017182850501020 205 5526.32 994.74\n',
 '28/08/2017182835351028  27 1569.01 282.42\n',
 '30/08/2017108307 71002  32  453.82  81.69\n',
 '30/08/2017183032321019   2  156.25  28.13\n',
 '30/08/2017183018181023  11  693.62 124.85\n',
 '01/09/2017109116161001  18 1208.74 217.57\n',
 '01/09/2017109111111004   2  270.20  48.64\n',
 '01/09/2017109141411018   3   79.72  14.35\n',
 '01/09/2017109146461026   0    0.00   0.00\n',
 '02/09/2017100924 41011   5  574.09 103.34\n',
 '03/09/2017109349491024  23 1596.03 287.29\n',
 '04/09/2017100942 21002  27  392.92  70.73\n',
 '04/09/2017109449491004   4  508.92  91.60\n',
 '04/09/2017109440401023  19 1198.86 215.79\n',
 '05/09/2017100955 51005  13   60.64  10.91\n',
 '06/09/2017109618181001  43 2866.48 515.97\n',
 '06/09/2017109629291004  34 4494.97 809.09\n',
 '06/09/2017100965 51006  10 1358.17 244.47\n',
 '06/09/2017109632321019   5  437.93  78.83\n',
 '06/09/2017109641411021  30 1913.45 344.42\n',
 '07/09/2017109738381011   0    0.00   0.00\n',
 '07/09/2017109739391016   6  108.95  19.61\n',
 '07/09/2017109735351023  39 2461.88 443.14\n',
 '07/09/2017109732321027   3  417.91  75.22\n',
 '08/09/2017109842421020  12  333.27  59.99\n',
 '09/09/2017109924241007 128 7862.641415.28\n',
 '09/09/2017109941411023   4  236.65  42.60\n',
 '10/09/2017191036361007 17710892.431960.64\n',
 '10/09/2017191020201008  7911565.092081.72\n',
 '10/09/2017109109 91028  11  621.94 111.95\n',
 '11/09/2017191132321008  11 1626.79 292.82\n',
 '11/09/2017191144441012   6  788.00 141.84\n',
 '11/09/2017191138381014   9 1407.70 253.39\n',
 '12/09/2017109124 41008  8312062.672171.28\n',
 '12/09/2017191233331013   6  777.64 139.98\n',
 '12/09/2017191243431018  42 1097.65 197.58\n',
 '13/09/2017191317171013   2  308.38  55.51\n',
 '14/09/2017191422221002  11  158.09  28.46\n',
 '14/09/2017191417171003   7  538.06  96.85\n',
 '14/09/2017191415151014  16 2482.98 446.94\n',
 '14/09/2017191442421016   9  170.28  30.65\n',
 '14/09/2017191436361018  16  416.12  74.90\n',
 '14/09/2017191429291028   0    0.00   0.00\n',
 '15/09/2017191549491004   3  454.53  81.82\n',
 '15/09/2017191518181006 10013817.882487.22\n',
 '15/09/2017191536361006  9713413.822414.49\n',
 '15/09/2017191543431019 21719705.453546.98\n',
 '15/09/2017191534341020  21  553.27  99.59\n',
 '16/09/2017191611111028   3  191.80  34.52\n',
 '17/09/2017109177 71003  15 1152.12 207.38\n',
 '17/09/2017191744441016 268 5112.46 920.24\n',
 '17/09/2017191739391022   0    0.00   0.00\n',
 '18/09/2017191825251005  -2  -10.74  -1.93\n',
 '18/09/2017191821211015 12418193.063274.75\n',
 '18/09/2017109184 41019  22 2041.59 367.49\n',
 '18/09/2017109181 11026   6  699.47 125.90\n',
 '19/09/2017191917171004  8811567.212082.10\n',
 '19/09/2017191913131006   0    0.00   0.00\n',
 '19/09/2017191927271011   6  693.55 124.84\n',
 '19/09/2017191945451019  30 2736.20 492.52\n',
 '19/09/2017109191 11021  33 2091.21 376.42\n',
 '19/09/2017191930301022  17  676.38 121.75\n',
 '19/09/2017191936361028   5  309.99  55.80\n',
 '20/09/2017192018181001 19512863.512315.43\n',
 '20/09/2017192022221002  41  583.68 105.06\n',
 '20/09/2017109205 51004   1  182.32  32.82\n',
 '20/09/2017192024241009   3  217.30  39.11\n',
 '20/09/2017192014141010   5  835.66 150.42\n',
 '20/09/2017109203 31011 10612374.782227.46\n',
 '20/09/2017192043431017  91 2559.09 460.64\n',
 '20/09/2017192029291020  12  336.04  60.49\n',
 '20/09/2017192017171021  23 1476.20 265.72\n',
 '21/09/2017192122221004   0    0.00   0.00\n',
 '21/09/2017192111111006 10915139.452725.10\n',
 '21/09/2017192137371017  48 1348.40 242.71\n',
 '21/09/2017192126261022  38 1523.49 274.23\n',
 '21/09/2017109218 81025   2   38.33   6.90\n',
 '22/09/2017192227271016  12  221.33  39.84\n',
 '22/09/2017192211111027  24 3566.30 641.93\n',
 '23/09/2017192340401005  15   69.58  12.52\n',
 '23/09/2017192339391008 26538532.826935.91\n',
 '23/09/2017192311111025  90 2113.62 380.45\n',
 '23/09/2017192323231026   1   94.77  17.06\n',
 '23/09/20171923262610282381138196.524875.3\n',
 '24/09/2017192434341011  16 1871.18 336.81\n',
 '24/09/2017192413131013  58 7739.041393.03\n',
 '24/09/2017192421211013  48 6411.561154.08\n',
 '24/09/2017192448481017  13  362.74  65.29\n',
 '24/09/2017192435351020  62 1665.52 299.79\n',
 '25/09/2017192536361005  32  142.38  25.63\n',
 '25/09/2017109255 51019 22520452.813681.51\n',
 '26/09/2017192633331018   7  181.72  32.71\n',
 '26/09/2017109266511024  97 6877.961238.03\n',
 '27/09/2017192733331004 14619111.963440.15\n',
 '27/09/2017192738381008 13319417.893495.22\n',
 '27/09/2017192744441014   2  245.23  44.14\n',
 '27/09/2017192747471014  10 1535.76 276.44\n',
 '28/09/2017192824241006  42 5823.141048.16\n',
 '28/09/2017192810101006 15221036.803786.62\n',
 '28/09/2017109289 91014 20731801.985724.36\n',
 '28/09/2017192821211024   5  343.17  61.77\n',
 '29/09/2017192937371003   2  129.40  23.29\n',
 '29/09/2017192916161011 13015127.642722.98\n',
 '29/09/2017192930301012  10 1369.69 246.54\n',
 '29/09/2017192932321014  53 8095.721457.23\n',
 '29/09/2017192950501017 51214401.322592.24\n',
 '30/09/2017193017171008  7010136.831824.63\n',
 '30/09/2017193031311021  10  612.76 110.30\n',
 '30/09/2017109301 11027 11717296.433113.36\n',
 '30/09/2017109304 41028 46727135.384884.37']

In [4]:
len(texto)

284

In [5]:
texto[0]

'ï»¿01/07/2017107134341009 15312645.152276.13\n'

- Exemplificando com string

In [6]:
s = 'ï»¿01/07/2017107134341009 15312645.152276.13\n'

In [7]:
s[3:]

'01/07/2017107134341009 15312645.152276.13\n'

- Aplicando correção no arquivo

In [11]:
texto[0] = texto[0][3:]

In [12]:
texto

['01/07/2017107134341009 15312645.152276.13\n',
 '01/07/2017107141411028   4  242.66  43.68\n',
 '01/07/2017100719 91028 36120936.343768.54\n',
 '02/07/2017107228281010  34 5232.61 941.87\n',
 '02/07/2017107223231016 234 4457.96 802.43\n',
 '03/07/2017107335351011  21 2413.65 434.46\n',
 '03/07/2017107316161018  10  266.16  47.91\n',
 '03/07/2017107310101028  60 3504.69 630.84\n',
 '04/07/2017107433331018  15  404.35  72.78\n',
 '05/07/2017107510101009 27722888.644119.96\n',
 '06/07/2017100761 11009  60 4918.48 885.33\n',
 '06/07/2017107643431011   0    0.00   0.00\n',
 '07/07/2017107717171002  38  551.22  99.22\n',
 '07/07/2017100778 81004  40 5189.31 934.08\n',
 '07/07/2017100775 51005   8   34.00   6.12\n',
 '08/07/2017107840401012  29 4016.27 722.93\n',
 '08/07/2017107830301022   7  282.28  50.81\n',
 '09/07/2017100797 71002   6   88.99  16.02\n',
 '09/07/2017107946461007  70 4291.93 772.55\n',
 '09/07/2017100798 81024  22 1575.46 283.58\n',
 '09/07/2017107941411025  15  343.22  61.78\n',
 '09/07/2017107930301027  7310850.161953.03\n',
 '10/07/2017171016161005 371 1675.28 301.55\n',
 '10/07/2017107108 81009  23 1934.34 348.18\n',
 '10/07/2017171044441027   3  513.88  92.50\n',
 '11/07/2017171148481013  52 6945.801250.24\n',
 '12/07/2017171221211022  31 1242.03 223.57\n',
 '12/07/2017171238381024   9  662.23 119.20\n',
 '12/07/2017171240401025  65 1509.24 271.66\n',
 '14/07/2017171440401008   5  750.82 135.15\n',
 '14/07/2017171433331014   2  240.17  43.23\n',
 '14/07/2017171437371020   0    0.00   0.00\n',
 '14/07/2017171440401022188574931.4813487.6\n',
 '14/07/2017171425251023 23014499.802609.96\n',
 '15/07/2017107153 31027   6  903.04 162.55\n',
 '15/07/2017171513131027   2  323.70  58.27\n',
 '16/07/2017171615151006  18 2503.58 450.64\n',
 '16/07/2017171639391019  90 8161.481469.07\n',
 '16/07/2017107167 71019  40 3616.79 651.02\n',
 '17/07/2017171740401001  16 1064.35 191.58\n',
 '17/07/2017171721211005   8   34.82   6.27\n',
 '17/07/2017107172 21008   2  344.84  62.07\n',
 '17/07/2017171720201010  37 5707.761027.40\n',
 '17/07/2017171716161012  51 7110.251279.84\n',
 '17/07/2017171735351023   1   68.66  12.36\n',
 '18/07/2017171843431016   9  168.00  30.24\n',
 '19/07/2017171935351014  -1 -213.04 -38.35\n',
 '19/07/2017171948481017  15  426.97  76.85\n',
 '20/07/2017172038381008   5  745.00 134.10\n',
 '20/07/2017172040401008  7911522.392074.03\n',
 '20/07/2017172011111013   9 1270.88 228.76\n',
 '20/07/2017172035351014  19 2969.21 534.46\n',
 '20/07/2017172035351021   7  474.26  85.37\n',
 '20/07/2017172026261028 126 7338.411320.91\n',
 '21/07/2017172137371007 38823880.724298.53\n',
 '21/07/2017172142421007 126 7741.671393.50\n',
 '21/07/2017172132321018  78 2049.69 368.94\n',
 '22/07/2017172239391001 16510868.291956.29\n',
 '22/07/2017107229 91011  9410945.641970.21\n',
 '22/07/2017172237371012   1  147.66  26.58\n',
 '22/07/2017172243431014  14 2070.68 372.72\n',
 '22/07/2017172232321020   0    0.00   0.00\n',
 '23/07/2017107234 41009  52 4282.59 770.87\n',
 '23/07/2017172338381011 10412127.562182.96\n',
 '23/07/2017172317171013   6  801.74 144.31\n',
 '23/07/2017172312121015  10 1459.24 262.66\n',
 '24/07/2017172439391001  11  707.96 127.43\n',
 '24/07/2017172431311014 29445091.268116.43\n',
 '26/07/2017172650501005   0    1.65   0.30\n',
 '26/07/2017172631311007  51 3115.31 560.76\n',
 '26/07/2017172627271009  43 3582.40 644.83\n',
 '26/07/2017172636361017  88 2461.55 443.08\n',
 '26/07/2017172646461018  17  452.93  81.53\n',
 '26/07/2017172618181019   9  862.12 155.18\n',
 '26/07/2017172641411028  59 3397.86 611.62\n',
 '27/07/2017172714141005  39  177.89  32.02\n',
 '27/07/2017172745451007   0    0.00   0.00\n',
 '28/07/2017107287 71002  15  218.70  39.37\n',
 '28/07/2017172810101005   2   10.29   1.85\n',
 '28/07/2017172814141009  52 4284.75 771.26\n',
 '28/07/2017107287 71011   3  322.82  58.11\n',
 '28/07/2017172824241018   1   26.22   4.72\n',
 '28/07/2017107285 51023 110 6909.191243.65\n',
 '28/07/2017172828281024  26 1856.96 334.25\n',
 '28/07/2017172850501025  43 1012.31 182.22\n',
 '29/07/2017172918181004  22 2873.77 517.28\n',
 '29/07/2017172945451010  51 7898.151421.67\n',
 '30/07/2017173015151005  19   83.76  15.08\n',
 '30/07/2017173023231009  84 6930.581247.50\n',
 '30/07/2017107303 31010  49 7552.471359.44\n',
 '30/07/2017173033331011  75 8784.771581.26\n',
 '01/08/2017108126261023  23 1448.91 260.80\n',
 '02/08/2017108244441006  22 3039.54 547.12\n',
 '03/08/2017108332321002   5   71.74  12.91\n',
 '03/08/2017108343431024  74 5273.05 949.15\n',
 '04/08/2017108420201020  37  994.59 179.03\n',
 '05/08/2017108537371003   2  118.49  21.33\n',
 '05/08/2017108527271004  23 3046.74 548.41\n',
 '05/08/2017108530301005  15   65.58  11.80\n',
 '05/08/2017108550501008 65995843.3317251.8\n',
 '05/08/2017108546461018  15  388.59  69.95\n',
 '06/08/2017108630301008  9513895.972501.27\n',
 '06/08/2017108629291027  46 6757.461216.34\n',
 '07/08/2017100879 91007  13  811.88 146.14\n',
 '08/08/2017108811111009  28 2306.20 415.12\n',
 '08/08/2017100888 81016   2   41.14   7.41\n',
 '08/08/2017108848481019   4  328.85  59.19\n',
 '08/08/2017108814141023   2   94.43  17.00\n',
 '10/08/2017181021211005   0    0.00   0.00\n',
 '10/08/20171810151510112515292609.052669.6\n',
 '10/08/2017181036361015 20329887.765379.80\n',
 '10/08/2017181026261021 109 6963.301253.39\n',
 '11/08/2017181144441022   2   73.95  13.31\n',
 '12/08/2017181236361001  15 1004.91 180.88\n',
 '12/08/2017181239391006  54 7531.571355.68\n',
 '12/08/2017181216161007 108 6668.101200.26\n',
 '12/08/2017108126511012  31 4300.82 774.15\n',
 '12/08/2017108121 11017  99 2771.43 498.86\n',
 '12/08/2017181243431023  64 4049.64 728.93\n',
 '13/08/2017181317171005   6   25.17   4.53\n',
 '13/08/2017181342421028  29 1681.23 302.62\n',
 '14/08/2017108146511004  22 2892.25 520.60\n',
 '14/08/2017181419191024   0    0.00   0.00\n',
 '14/08/2017108143 31025   6  148.35  26.70\n',
 '14/08/2017181439391028 132 7660.031378.81\n',
 '15/08/2017181533331003  45 3510.88 631.96\n',
 '15/08/2017181529291018  37  961.04 172.99\n',
 '15/08/2017181522221021   8  514.05  92.53\n',
 '15/08/2017181529291024 51236317.666537.18\n',
 '16/08/2017108164 41010 914141461.925463.1\n',
 '16/08/2017181637371015   1  196.79  35.42\n',
 '16/08/2017181645451015 18226733.504812.03\n',
 '17/08/2017181713131016  23  439.64  79.13\n',
 '18/08/2017108187 71025  23  531.04  95.59\n',
 '18/08/2017181825251026  11 1219.56 219.52\n',
 '18/08/2017108185 51027  32 4724.06 850.33\n',
 '19/08/2017181914141008 15722864.914115.68\n',
 '19/08/2017181934341011  46 5372.73 967.09\n',
 '19/08/2017181936361018   2   50.29   9.05\n',
 '19/08/2017181916161022 177 7027.751265.00\n',
 '19/08/2017108196511023   2  156.71  28.21\n',
 '19/08/2017108194 41026   5  574.23 103.36\n',
 '20/08/2017182044441008 31746143.048305.75\n',
 '20/08/2017182012121014  10 1509.51 271.71\n',
 '20/08/2017182049491024 73151823.899328.30\n',
 '21/08/2017182130301015  19 2802.08 504.37\n',
 '21/08/2017182123231020  14  389.94  70.19\n',
 '22/08/2017182245451007 108 6620.241191.64\n',
 '22/08/2017182224241013   0    0.00   0.00\n',
 '22/08/2017182230301014  16 2452.21 441.40\n',
 '22/08/2017182234341019   8  720.82 129.75\n',
 '23/08/2017182327271005  32  144.12  25.94\n',
 '23/08/2017182336361007  17 1041.54 187.48\n',
 '23/08/2017182338381009 35829589.695326.14\n',
 '23/08/2017108232 21012   4  535.96  96.47\n',
 '23/08/2017182338381015  19 2769.69 498.54\n',
 '23/08/2017182337371015   5  681.74 122.71\n',
 '23/08/2017182325251027 14621557.343880.32\n',
 '24/08/2017182424241007 17010476.181885.71\n',
 '24/08/2017182411111017   4  120.99  21.78\n',
 '24/08/2017182421211027   7 1070.45 192.68\n',
 '25/08/2017182536361004  25 3285.66 591.42\n',
 '25/08/2017108252 21008  36 5264.50 947.61\n',
 '25/08/2017182510101009   6  480.01  86.40\n',
 '25/08/2017182514141021  60 3866.28 695.93\n',
 '25/08/2017182522221024  41 2929.12 527.24\n',
 '26/08/2017182642421015  65 9580.091724.42\n',
 '26/08/2017108265 51018   6  161.62  29.09\n',
 '27/08/2017182740401017  47 1317.50 237.15\n',
 '28/08/2017108288 81001   4  238.06  42.85\n',
 '28/08/2017108286511004   2  234.78  42.26\n',
 '28/08/2017182836361012   7  967.35 174.12\n',
 '28/08/2017182831311017  93 2623.03 472.14\n',
 '28/08/2017182816161020   0    0.00   0.00\n',
 '28/08/2017182850501020 205 5526.32 994.74\n',
 '28/08/2017182835351028  27 1569.01 282.42\n',
 '30/08/2017108307 71002  32  453.82  81.69\n',
 '30/08/2017183032321019   2  156.25  28.13\n',
 '30/08/2017183018181023  11  693.62 124.85\n',
 '01/09/2017109116161001  18 1208.74 217.57\n',
 '01/09/2017109111111004   2  270.20  48.64\n',
 '01/09/2017109141411018   3   79.72  14.35\n',
 '01/09/2017109146461026   0    0.00   0.00\n',
 '02/09/2017100924 41011   5  574.09 103.34\n',
 '03/09/2017109349491024  23 1596.03 287.29\n',
 '04/09/2017100942 21002  27  392.92  70.73\n',
 '04/09/2017109449491004   4  508.92  91.60\n',
 '04/09/2017109440401023  19 1198.86 215.79\n',
 '05/09/2017100955 51005  13   60.64  10.91\n',
 '06/09/2017109618181001  43 2866.48 515.97\n',
 '06/09/2017109629291004  34 4494.97 809.09\n',
 '06/09/2017100965 51006  10 1358.17 244.47\n',
 '06/09/2017109632321019   5  437.93  78.83\n',
 '06/09/2017109641411021  30 1913.45 344.42\n',
 '07/09/2017109738381011   0    0.00   0.00\n',
 '07/09/2017109739391016   6  108.95  19.61\n',
 '07/09/2017109735351023  39 2461.88 443.14\n',
 '07/09/2017109732321027   3  417.91  75.22\n',
 '08/09/2017109842421020  12  333.27  59.99\n',
 '09/09/2017109924241007 128 7862.641415.28\n',
 '09/09/2017109941411023   4  236.65  42.60\n',
 '10/09/2017191036361007 17710892.431960.64\n',
 '10/09/2017191020201008  7911565.092081.72\n',
 '10/09/2017109109 91028  11  621.94 111.95\n',
 '11/09/2017191132321008  11 1626.79 292.82\n',
 '11/09/2017191144441012   6  788.00 141.84\n',
 '11/09/2017191138381014   9 1407.70 253.39\n',
 '12/09/2017109124 41008  8312062.672171.28\n',
 '12/09/2017191233331013   6  777.64 139.98\n',
 '12/09/2017191243431018  42 1097.65 197.58\n',
 '13/09/2017191317171013   2  308.38  55.51\n',
 '14/09/2017191422221002  11  158.09  28.46\n',
 '14/09/2017191417171003   7  538.06  96.85\n',
 '14/09/2017191415151014  16 2482.98 446.94\n',
 '14/09/2017191442421016   9  170.28  30.65\n',
 '14/09/2017191436361018  16  416.12  74.90\n',
 '14/09/2017191429291028   0    0.00   0.00\n',
 '15/09/2017191549491004   3  454.53  81.82\n',
 '15/09/2017191518181006 10013817.882487.22\n',
 '15/09/2017191536361006  9713413.822414.49\n',
 '15/09/2017191543431019 21719705.453546.98\n',
 '15/09/2017191534341020  21  553.27  99.59\n',
 '16/09/2017191611111028   3  191.80  34.52\n',
 '17/09/2017109177 71003  15 1152.12 207.38\n',
 '17/09/2017191744441016 268 5112.46 920.24\n',
 '17/09/2017191739391022   0    0.00   0.00\n',
 '18/09/2017191825251005  -2  -10.74  -1.93\n',
 '18/09/2017191821211015 12418193.063274.75\n',
 '18/09/2017109184 41019  22 2041.59 367.49\n',
 '18/09/2017109181 11026   6  699.47 125.90\n',
 '19/09/2017191917171004  8811567.212082.10\n',
 '19/09/2017191913131006   0    0.00   0.00\n',
 '19/09/2017191927271011   6  693.55 124.84\n',
 '19/09/2017191945451019  30 2736.20 492.52\n',
 '19/09/2017109191 11021  33 2091.21 376.42\n',
 '19/09/2017191930301022  17  676.38 121.75\n',
 '19/09/2017191936361028   5  309.99  55.80\n',
 '20/09/2017192018181001 19512863.512315.43\n',
 '20/09/2017192022221002  41  583.68 105.06\n',
 '20/09/2017109205 51004   1  182.32  32.82\n',
 '20/09/2017192024241009   3  217.30  39.11\n',
 '20/09/2017192014141010   5  835.66 150.42\n',
 '20/09/2017109203 31011 10612374.782227.46\n',
 '20/09/2017192043431017  91 2559.09 460.64\n',
 '20/09/2017192029291020  12  336.04  60.49\n',
 '20/09/2017192017171021  23 1476.20 265.72\n',
 '21/09/2017192122221004   0    0.00   0.00\n',
 '21/09/2017192111111006 10915139.452725.10\n',
 '21/09/2017192137371017  48 1348.40 242.71\n',
 '21/09/2017192126261022  38 1523.49 274.23\n',
 '21/09/2017109218 81025   2   38.33   6.90\n',
 '22/09/2017192227271016  12  221.33  39.84\n',
 '22/09/2017192211111027  24 3566.30 641.93\n',
 '23/09/2017192340401005  15   69.58  12.52\n',
 '23/09/2017192339391008 26538532.826935.91\n',
 '23/09/2017192311111025  90 2113.62 380.45\n',
 '23/09/2017192323231026   1   94.77  17.06\n',
 '23/09/20171923262610282381138196.524875.3\n',
 '24/09/2017192434341011  16 1871.18 336.81\n',
 '24/09/2017192413131013  58 7739.041393.03\n',
 '24/09/2017192421211013  48 6411.561154.08\n',
 '24/09/2017192448481017  13  362.74  65.29\n',
 '24/09/2017192435351020  62 1665.52 299.79\n',
 '25/09/2017192536361005  32  142.38  25.63\n',
 '25/09/2017109255 51019 22520452.813681.51\n',
 '26/09/2017192633331018   7  181.72  32.71\n',
 '26/09/2017109266511024  97 6877.961238.03\n',
 '27/09/2017192733331004 14619111.963440.15\n',
 '27/09/2017192738381008 13319417.893495.22\n',
 '27/09/2017192744441014   2  245.23  44.14\n',
 '27/09/2017192747471014  10 1535.76 276.44\n',
 '28/09/2017192824241006  42 5823.141048.16\n',
 '28/09/2017192810101006 15221036.803786.62\n',
 '28/09/2017109289 91014 20731801.985724.36\n',
 '28/09/2017192821211024   5  343.17  61.77\n',
 '29/09/2017192937371003   2  129.40  23.29\n',
 '29/09/2017192916161011 13015127.642722.98\n',
 '29/09/2017192930301012  10 1369.69 246.54\n',
 '29/09/2017192932321014  53 8095.721457.23\n',
 '29/09/2017192950501017 51214401.322592.24\n',
 '30/09/2017193017171008  7010136.831824.63\n',
 '30/09/2017193031311021  10  612.76 110.30\n',
 '30/09/2017109301 11027 11717296.433113.36\n',
 '30/09/2017109304 41028 46727135.384884.37']

In [13]:
def cria_lista(texto, inicio, fim):
    lista = []
    for i in range(len(texto)):
        result = texto[i][inicio:fim]
        lista.append(result.strip())

    return lista

In [14]:
data = cria_lista(texto, 0, 10)
cod_pedido = cria_lista(texto, 10, 16)
cod_cliente = cria_lista(texto, 16, 18)
cod_produto = cria_lista(texto, 18, 22)
volume = cria_lista(texto, 22, 26)
faturamento = cria_lista(texto, 26, 34)
impostos = cria_lista(texto, 34, 41)

### Exercício 
- Utilizando a função cria_lista, crie as listas para as colunas restantes [cod_pedido, cod_cliente, cod_produto, volume, faturamento, impostos]

```python 
s = '01/07/2017107134341009 15312645.152276.13\n'

data = '01/07/2017'
cod_pedido = '107134'
cod_cliente = '34'
cod_produto = '1009'
volume = '153'
faturamento = '12645.15'
impostos = '2276.13'

s[34:41]
output -> '2276.13'

- Criando um dicionário com as listas

In [15]:
data_dict = {
    'data': data,
    'cod_pedido' : cod_pedido,
    'cod_cliente' : cod_cliente,
    'cod_produto' : cod_produto,
    'volume' : volume,
    'faturamento' : faturamento,
    'impostos' : impostos
}

- Transformando dicionário em um dataframe pandas

In [19]:

df = pd.DataFrame(data_dict)

In [20]:
df.head()

         data cod_pedido cod_cliente cod_produto volume faturamento impostos
0  01/07/2017     107134          34        1009    153    12645.15  2276.13
1  01/07/2017     107141          41        1028      4      242.66    43.68
2  01/07/2017     100719           9        1028    361    20936.34  3768.54
3  02/07/2017     107228          28        1010     34     5232.61   941.87
4  02/07/2017     107223          23        1016    234     4457.96   802.43

- Verificando o tipo das colunas

In [21]:
df.dtypes

data           object
cod_pedido     object
cod_cliente    object
cod_produto    object
volume         object
faturamento    object
impostos       object
dtype: object

- Transformar as colunas númericas

In [22]:
df = df.astype(
    {
        'volume': 'float',
        'faturamento': 'float',
        'impostos': 'float'
    }
)

In [23]:
df.head()

,data,cod_pedido,cod_cliente,cod_produto,volume,faturamento,impostos
0,01/07/2017,107134,34,1009,153.0,12645.15,2276.13
1,01/07/2017,107141,41,1028,4.0,242.66,43.68
2,01/07/2017,100719,9,1028,361.0,20936.34,3768.54
3,02/07/2017,107228,28,1010,34.0,5232.61,941.87
4,02/07/2017,107223,23,1016,234.0,4457.96,802.43

In [24]:
df.dtypes

data            object
cod_pedido      object
cod_cliente     object
cod_produto     object
volume         float64
faturamento    float64
impostos       float64
dtype: object

In [25]:
df.tail()

,data,cod_pedido,cod_cliente,cod_produto,volume,faturamento,impostos
279,29/09/2017,192950,50,1017,512.0,14401.32,2592.24
280,30/09/2017,193017,17,1008,70.0,10136.83,1824.63
281,30/09/2017,193031,31,1021,10.0,612.76,110.30
282,30/09/2017,109301,1,1027,117.0,17296.43,3113.36
283,30/09/2017,109304,4,1028,467.0,27135.38,4884.37

#### Dever de casa 
- arquivo **Arquivo_mes2.txt**
- Fazer tudo que fizemos com o arquivo mes1

In [26]:
aqr_mes2 = open(r"C:\Users\Thiago10\OneDrive\Área de Trabalho\ARQ_JUMP_START\MODULOPYTHONJUMP\ArqeAnexos\Arquivo_mes2.txt")

In [27]:
lista_mes2 = aqr_mes2.readlines()

In [28]:
lista_mes2

['ï»¿01/10/2017110144 441004  25 3.252,86  585,51\n',
 '01/10/2017110144 441014  37 5.701,651.026,30\n',
 '01/10/2017110113 131022  17   667,47  120,14\n',
 '02/10/2017110242 421010 13921.435,143.858,33\n',
 '02/10/2017101021   1012  16 2.178,48  392,13\n',
 '02/10/2017101022   1026  22 2.508,90  451,60\n',
 '04/10/2017101049   1018 197 5.159,38  928,69\n',
 '05/10/2017110535 351002   0     0,00    0,00\n',
 '05/10/2017110510 101003  29 2.280,88  410,56\n',
 '05/10/2017110540 401009   2   133,08   23,95\n',
 '05/10/2017110511 111022 149 5.907,191.063,29\n',
 '06/10/2017110629 291004  57 7.475,041.345,51\n',
 '06/10/2017110617 171007 17510.769,691.938,54\n',
 '06/10/2017110620 201014   7 1.140,33  205,26\n',
 '06/10/2017110640 401015  32 4.643,42  835,82\n',
 '06/10/2017101062   1015   4   628,74  113,17\n',
 '06/10/2017110622 221017 41311.619,562.091,52\n',
 '06/10/2017110611 111018 150 3.924,77  706,46\n',
 '06/10/2017101061   1024 19814.029,262.525,27\n',
 '06/10/2017110623 231025  21   495,52   89,19\n',
 '06/10/2017110621 211026  9811.037,451.986,74\n',
 '07/10/2017110749 491005   7    30,21    5,44\n',
 '07/10/2017110742 421026  14 1.598,63  287,75\n',
 '08/10/2017101082   1002  30   433,72   78,07\n',
 '08/10/2017101086 511016 107 2.039,07  367,03\n',
 '09/10/2017110915 151011  18 2.143,48  385,83\n',
 '09/10/2017110930 301017 346 9.722,051.749,97\n',
 '10/10/2017201023 231003   3   270,48   48,69\n',
 '10/10/2017201029 291005   8    34,78    6,26\n',
 '10/10/2017201035 351011  23 2.712,54  488,26\n',
 '11/10/2017201136 361001  14   943,68  169,86\n',
 '11/10/2017201117 171001   4   272,73   49,09\n',
 '11/10/2017201142 421006  24 3.278,17  590,07\n',
 '11/10/2017201121 211010   9 1.319,08  237,43\n',
 '11/10/2017110111   1014 37156.873,9810.237,3\n',
 '11/10/2017201122 221015  13 1.916,32  344,94\n',
 '12/10/2017110129   1008   5   763,92  137,51\n',
 '13/10/2017201339 391005   4    19,92    3,59\n',
 '13/10/2017201321 211008  51 7.431,611.337,69\n',
 '13/10/2017201310 101020  72 1.945,93  350,27\n',
 '13/10/2017201334 341024  32 2.248,27  404,69\n',
 '14/10/2017201413 131013 102136.827,224.628,9\n',
 '14/10/2017201432 321018   6   162,39   29,23\n',
 '14/10/2017201435 351024   7   464,40   83,59\n',
 '15/10/2017201548 481004   8   998,16  179,67\n',
 '15/10/2017201524 241004   2   229,53   41,32\n',
 '15/10/2017201526 261009  55 4.575,59  823,61\n',
 '15/10/2017110153   1013 24432.717,475.889,15\n',
 '15/10/2017201534 341015  12 1.810,44  325,88\n',
 '15/10/2017201524 241016 145 2.760,98  496,98\n',
 '15/10/2017201534 341019   4   354,63   63,83\n',
 '16/10/2017201621 211007  53 3.260,32  586,86\n',
 '16/10/2017201639 391010  59 9.190,821.654,35\n',
 '16/10/2017201617 171014 11117.029,023.065,22\n',
 '17/10/2017201711 111001 33221.922,143.945,99\n',
 '17/10/2017201717 171003  32 2.520,95  453,77\n',
 '17/10/2017201711 111016  58 1.112,44  200,24\n',
 '17/10/2017201719 191022  42 1.674,83  301,47\n',
 '18/10/2017201847 471002  11   160,28   28,85\n',
 '18/10/2017201810 101025  29   674,64  121,44\n',
 '18/10/2017110188   1026  79 8.903,321.602,60\n',
 '19/10/2017201946 461007   0    16,79    3,02\n',
 '20/10/2017202015 151005 443 1.999,55  359,92\n',
 '20/10/2017202042 421006   5   750,80  135,14\n',
 '20/10/2017202019 191008 253368.893,666.400,8\n',
 '20/10/2017202038 381013  34 4.621,67  831,90\n',
 '20/10/2017110201   1018  24   619,34  111,48\n',
 '21/10/2017202147 471021   0     0,00    0,00\n',
 '21/10/2017202135 351023  17 1.072,82  193,11\n',
 '21/10/2017202139 391024   7   497,03   89,47\n',
 '22/10/2017202219 191018   5   138,97   25,02\n',
 '22/10/2017110221   1024  65 4.578,81  824,19\n',
 '22/10/2017202227 271025  16   380,29   68,45\n',
 '23/10/2017202314 141008 966140.578,525.304,1\n',
 '23/10/2017202318 181008 100145.655,126.217,9\n',
 '23/10/2017110231   1024 30421.590,053.886,21\n',
 '23/10/2017202323 231028   4   224,67   40,44\n',
 '24/10/2017202441 411025 221 5.174,86  931,48\n',
 '24/10/2017110247   1025 174 4.073,76  733,28\n',
 '25/10/2017202521 211006  22 3.016,35  542,94\n',
 '25/10/2017202526 261008  53 7.662,631.379,27\n',
 '25/10/2017110251   1016   1    19,24    3,46\n',
 '25/10/2017202547 471019  11   967,51  174,15\n',
 '25/10/2017202519 191023  95 5.954,261.071,77\n',
 '26/10/2017110268   1009  13 1.103,93  198,71\n',
 '26/10/2017202636 361011   7   827,38  148,93\n',
 '26/10/2017202635 351027   0    29,53    5,32\n',
 '27/10/2017110272   1006  8611.970,412.154,67\n',
 '28/10/2017202810 101020  32   874,13  157,34\n',
 '29/10/2017202916 161017  14   389,49   70,11\n',
 '29/10/2017202929 291024  25 1.757,69  316,38\n',
 '30/10/2017203027 271014  13 1.939,95  349,19\n',
 '30/10/2017203029 291021   4   264,96   47,69\n',
 '30/10/2017110303   1028  16   950,92  171,17\n',
 '01/11/2017111126 261003  15 1.148,23  206,68\n',
 '01/11/2017111140 401023   7   415,41   74,77\n',
 '01/11/2017111130 301027 12618.628,943.353,21\n',
 '02/11/2017111224 241005  82   367,66   66,18\n',
 '02/11/2017101127   1006 15521.460,813.862,95\n',
 '02/11/2017111226 261025  47 1.087,85  195,81\n',
 '02/11/2017111227 271026   8   902,53  162,46\n',
 '02/11/2017111217 171026   8   934,11  168,14\n',
 '02/11/2017111213 131027 21932.329,565.819,32\n',
 '02/11/2017111217 171028  47 2.750,52  495,09\n',
 '03/11/2017111342 421003  13 1.032,87  185,92\n',
 '03/11/2017111321 211009   5   416,22   74,92\n',
 '03/11/2017111313 131010  19 2.974,71  535,45\n',
 '03/11/2017111328 281026   4   403,10   72,56\n',
 '05/11/2017101151   1001   3   169,22   30,46\n',
 '05/11/2017111536 361003   3   245,54   44,20\n',
 '05/11/2017111519 191013 11915.993,142.878,77\n',
 '05/11/2017111543 431017   5   144,83   26,07\n',
 '06/11/2017111646 461008   0     0,00    0,00\n',
 '06/11/2017111610 101028  43 2.511,88  452,14\n',
 '07/11/2017111721 211001   2   129,82   23,37\n',
 '07/11/2017111733 331008  23 3.278,22  590,08\n',
 '07/11/2017111712 121008   4   545,81   98,25\n',
 '07/11/2017111744 441014  10 1.465,14  263,73\n',
 '07/11/2017111717 171015 56282.790,7914.902,3\n',
 '08/11/2017111820 201004 20827.324,104.918,34\n',
 '08/11/2017111812 121022  33 1.331,75  239,71\n',
 '08/11/2017111816 161028  15   886,46  159,56\n',
 '09/11/2017101193   1002  23   336,85   60,63\n',
 '09/11/2017111922 221009   1    68,58   12,34\n',
 '10/11/2017211040 401003   4   284,53   51,21\n',
 '10/11/2017211048 481018  15   393,86   70,89\n',
 '10/11/2017211039 391020  46 1.238,68  222,96\n',
 '10/11/2017111108   1026   4   442,25   79,60\n',
 '11/11/2017211124 241016  31   585,10  105,32\n',
 '11/11/2017211113 131017  10   275,87   49,66\n',
 '12/11/2017211236 361005  13    57,07   10,27\n',
 '12/11/2017211250 501009   8   687,71  123,79\n',
 '12/11/2017111128   1025  65 1.520,21  273,64\n',
 '13/11/2017211323 231002  23   332,11   59,78\n',
 '13/11/2017211334 341015  63 9.245,501.664,19\n',
 '13/11/2017211319 191018 153 4.016,45  722,96\n',
 '13/11/2017211319 191024   3   226,88   40,84\n',
 '15/11/2017211550 501007   5   312,49   56,25\n',
 '15/11/2017111159   1008  7911.514,042.072,53\n',
 '16/11/2017111168   1002  42   598,08  107,65\n',
 '16/11/2017211639 391017  12   340,83   61,35\n',
 '17/11/2017211728 281001  67 4.401,58  792,28\n',
 '17/11/2017211740 401016 145 2.766,06  497,89\n',
 '17/11/2017111176 511023   9   576,54  103,78\n',
 '17/11/2017211714 141028 81247.110,838.479,95\n',
 '18/11/2017211828 281007  18 1.102,71  198,49\n',
 '18/11/2017211835 351028   5   278,08   50,05\n',
 '19/11/2017211921 211018 10327.135,244.884,34\n',
 '19/11/2017211944 441021   5   340,14   61,22\n',
 '20/11/2017111201   1015  56 8.176,431.471,76\n',
 '21/11/2017111218   1010 34252.994,069.538,93\n',
 '21/11/2017111211   1027  35 5.107,83  919,41\n',
 '22/11/2017111229   1013  15 2.076,77  373,82\n',
 '22/11/2017212210 101017   2    45,30    8,15\n',
 '22/11/2017212243 431021 108 6.943,701.249,87\n',
 '22/11/2017212250 501023  12   735,79  132,44\n',
 '22/11/2017212236 361023  40 2.521,41  453,85\n',
 '23/11/2017212326 261015   5   722,97  130,14\n',
 '24/11/2017111249   1004  15 1.914,57  344,62\n',
 '24/11/2017212428 281009   4   362,13   65,18\n',
 '24/11/2017212450 501013   5   713,28  128,39\n',
 '24/11/2017212436 361019   5   430,91   77,56\n',
 '24/11/2017212447 471020  48 1.290,23  232,24\n',
 '24/11/2017212445 451023   1    43,43    7,82\n',
 '25/11/2017212512 121002  73 1.045,49  188,19\n',
 '25/11/2017111251   1003  25 1.967,25  354,10\n',
 '25/11/2017212537 371012   2   319,91   57,58\n',
 '25/11/2017212545 451018 181 4.751,50  855,27\n',
 '25/11/2017111253   1021   1    59,68   10,74\n',
 '26/11/2017212634 341001  42 2.769,70  498,55\n',
 '26/11/2017212630 301007  29 1.753,80  315,68\n',
 '26/11/2017212626 261016  54 1.030,47  185,49\n',
 '26/11/2017212644 441020  -6  -156,78  -28,22\n',
 '26/11/2017212623 231022  24   960,55  172,90\n',
 '27/11/2017212745 451008 27139.434,667.098,24\n',
 '27/11/2017212726 261008  11 1.655,95  298,07\n',
 '27/11/2017111273   1028   4   247,67   44,58\n',
 '28/11/2017212847 471005  -6   -27,92   -5,03\n',
 '28/11/2017212847 471006 32144.600,038.028,01\n',
 '28/11/2017212810 101017  20   563,56  101,44\n',
 '28/11/2017212814 141022  20   782,04  140,77\n',
 '28/11/2017212821 211027  6810.035,641.806,42\n',
 '29/11/2017212912 121015  28 4.102,26  738,41\n',
 '29/11/2017111293   1016  28   529,69   95,34\n',
 '01/12/2017112110 101005 216   972,34  175,02\n',
 '01/12/2017101212   1024  62 4.430,45  797,48\n',
 '02/12/2017112230 301010   6 1.001,33  180,24\n',
 '02/12/2017112231 311018 100 2.620,35  471,66\n',
 '02/12/2017112219 191022   0     0,00    0,00\n',
 '02/12/2017112228 281022   8   319,64   57,54\n',
 '03/12/2017101233   1003  26 2.056,33  370,14\n',
 '03/12/2017112323 231005   7    32,22    5,80\n',
 '03/12/2017112317 171007   7   434,91   78,28\n',
 '03/12/2017112337 371010   3   476,00   85,68\n',
 '04/12/2017112422 221014  29 4.469,06  804,43\n',
 '05/12/2017112511 111006   3   467,88   84,22\n',
 '05/12/2017112536 361007  54 3.321,84  597,93\n',
 '05/12/2017112532 321008 10014.528,412.615,11\n',
 '05/12/2017112549 491009   1    43,79    7,88\n',
 '05/12/2017112527 271021  92 5.932,671.067,88\n',
 '06/12/2017112624 241005   0     0,00    0,00\n',
 '06/12/2017112615 151025 86920.306,923.655,25\n',
 '07/12/2017112720 201011 19022.069,493.972,51\n',
 '07/12/2017112710 101022 159 6.321,151.137,81\n',
 '07/12/2017112714 141027  21 3.053,86  549,70\n',
 '08/12/2017112837 371004   5   655,14  117,93\n',
 '08/12/2017112847 471012   3   445,85   80,25\n',
 '08/12/2017112827 271018 130 3.396,77  611,42\n',
 '08/12/2017112827 271020  34   911,07  163,99\n',
 '08/12/2017112826 261025  18   409,16   73,65\n',
 '09/12/2017112919 191001   7   443,08   79,75\n',
 '09/12/2017112921 211021  11   719,41  129,49\n',
 '10/12/2017221011 111014   0     0,00    0,00\n',
 '10/12/2017221048 481020  31   827,90  149,02\n',
 '11/12/2017221119 191002 134 1.920,35  345,66\n',
 '11/12/2017221119 191007   3   202,14   36,38\n',
 '12/12/2017112123   1002 26337.917,806.825,20\n',
 '12/12/2017221215 151004  10 1.353,58  243,64\n',
 '12/12/2017221246 461006  30 4.125,55  742,60\n',
 '12/12/2017221248 481014 276423.699,876.265,9\n',
 '12/12/2017221230 301023 23014.487,502.607,75\n',
 '14/12/2017221428 281020  16   441,34   79,44\n',
 '14/12/2017221412 121021  51 3.292,66  592,68\n',
 '15/12/2017221538 381004 10313.455,042.421,91\n',
 '15/12/2017221548 481005  20    89,71   16,15\n',
 '15/12/2017221546 461011  19 2.248,24  404,68\n',
 '15/12/2017221537 371014  31 4.812,64  866,27\n',
 '15/12/2017221517 171019 36533.123,545.962,24\n',
 '15/12/2017221546 461025 102 2.377,30  427,91\n',
 '16/12/2017221647 471021 103 6.581,841.184,73\n',
 '16/12/2017221633 331027   0    62,02   11,16\n',
 '17/12/2017221742 421002  14   202,86   36,51\n',
 '17/12/2017112177   1027  15 2.241,86  403,54\n',
 '18/12/2017112187   1007 18411.326,822.038,83\n',
 '18/12/2017112185   1007   7   441,06   79,39\n',
 '19/12/2017221915 151021  27 1.736,61  312,59\n',
 '20/12/2017222032 321017  53 1.482,56  266,86\n',
 '20/12/2017222041 411019 20718.808,383.385,51\n',
 '20/12/2017222039 391020  50 1.342,47  241,65\n',
 '22/12/2017222237 371002   3    44,12    7,94\n',
 '22/12/2017222212 121008   0    72,37   13,03\n',
 '22/12/2017222243 431012   9 1.296,18  233,31\n',
 '22/12/2017222224 241017 25070.357,9812.664,4\n',
 '22/12/2017222216 161027  38 5.635,201.014,34\n',
 '23/12/2017222316 161008  41 6.008,731.081,57\n',
 '23/12/2017222347 471013  10 1.311,29  236,03\n',
 '23/12/2017222333 331015   9 1.347,30  242,51\n',
 '23/12/2017222320 201026  33 3.778,27  680,09\n',
 '24/12/2017222433 331017  19   522,49   94,05\n',
 '24/12/2017222422 221018  26   694,63  125,03\n',
 '24/12/2017222423 231021  10   618,68  111,36\n',
 '25/12/2017222536 361017   8   238,81   42,99\n',
 '25/12/2017222530 301027 32648.170,768.670,74\n',
 '26/12/2017222642 421007  34 2.122,28  382,01\n',
 '26/12/2017222624 241012  36 4.980,18  896,43\n',
 '26/12/2017222624 241017  37 1.053,77  189,68\n',
 '27/12/2017222722 221003   0     0,00    0,00\n',
 '27/12/2017112276 511003   5   371,05   66,79\n',
 '27/12/2017222746 461003  12   908,14  163,47\n',
 '27/12/2017222748 481019   7   633,03  113,95\n',
 '27/12/2017112274   1020  58 1.578,64  284,15\n',
 '27/12/2017112274   1021 43527.887,295.019,71\n',
 '27/12/2017222728 281023   1    89,37   16,09\n',
 '28/12/2017222847 471005   7    30,17    5,43\n',
 '28/12/2017112289   1011  50 5.785,051.041,31\n',
 '28/12/2017222824 241019  -3  -252,02  -45,36\n',
 '29/12/2017112299   1003  26 2.029,07  365,23\n',
 '29/12/2017112294   1011  26 3.022,32  544,02\n',
 '29/12/2017222950 501013  8010.699,511.925,91\n',
 '29/12/2017222922 221016  13   252,76   45,50\n',
 '29/12/2017222949 491021  28 1.796,94  323,45\n',
 '30/12/2017112302   1004  70 9.232,731.661,89\n',
 '30/12/2017223030 301021  24 1.559,26  280,67\n',
 '30/12/2017223027 271022 53121.111,573.800,08\n',
 '30/12/2017112307   1024  24 1.720,74  309,73']

In [29]:
lista_mes2[0] = lista_mes2[0][3:]

In [30]:
primeira_linha = '01/10/2017110144 441004  25 3.252,86  585,51\n' 
data_compra = '01/10/2017'
cod_pedido = '110144'
cod_cliente = '44'
cod_produto = '1004'
volume = '  25'
faturamento = ' 3.252,86'
impostos = '  585,51'

In [31]:
data_compra = cria_lista(lista_mes2, 0, 10)
cod_pedido = cria_lista(lista_mes2, 10, 16)
cod_cliente = cria_lista(lista_mes2, 16, 19)
cod_produto = cria_lista(lista_mes2, 19, 23)
volume = cria_lista(lista_mes2, 23, 27)
faturamento = cria_lista(lista_mes2, 27, 36)
impostos = cria_lista(lista_mes2, 36, 44)

In [32]:
dict_mes2 = {
    'data_compra': data_compra,
    'cod_pedido' : cod_pedido,
    'cod_cliente' : cod_cliente,
    'cod_produto' : cod_produto,
    'volume' : volume,
    'faturamento' : faturamento,
    'impostos' : impostos
}

In [33]:
df_mes2 = pd.DataFrame(dict_mes2)

In [34]:
df_mes2.head()

  data_compra cod_pedido cod_cliente cod_produto volume faturamento  impostos
0  01/10/2017     110144          44        1004     25    3.252,86    585,51
1  01/10/2017     110144          44        1014     37    5.701,65  1.026,30
2  01/10/2017     110113          13        1022     17      667,47    120,14
3  02/10/2017     110242          42        1010    139   21.435,14  3.858,33
4  02/10/2017     101021                    1012     16    2.178,48    392,13

In [30]:
# df_mes2.astype({
#     'volume':'float',
#     'faturamento':'float',
#     'impostos':'float'
# })

In [35]:
def format_num(n):
    num = n.replace('.','')
    num = num.replace(',','.')
    return num

In [36]:
format_num('3.252,86')

'3252.86'

In [37]:
for coluna in ['volume', 'faturamento', 'impostos']:
    df_mes2[coluna] = df_mes2[coluna].apply(format_num)

In [38]:
df_mes2.astype({
    'volume':'float',
    'faturamento':'float',
    'impostos':'float'
})

,data_compra,cod_pedido,cod_cliente,cod_produto,volume,faturamento,impostos
0,01/10/2017,110144,44,1004,25.0,3252.86,585.51
1,01/10/2017,110144,44,1014,37.0,5701.65,1026.30
2,01/10/2017,110113,13,1022,17.0,667.47,120.14
3,02/10/2017,110242,42,1010,139.0,21435.14,3858.33
4,02/10/2017,101021,,1012,16.0,2178.48,392.13
...,...,...,...,...,...,...,...
270,29/12/2017,222949,49,1021,28.0,1796.94,323.45
271,30/12/2017,112302,,1004,70.0,9232.73,1661.89
272,30/12/2017,223030,30,1021,24.0,1559.26,280.67
273,30/12/2017,223027,27,1022,531.0,21111.57,3800.08
274,30/12/2017,112307,,1024,24.0,1720.74,309.73

In [39]:
df_mes2.head(115)

    data_compra cod_pedido cod_cliente cod_produto volume faturamento impostos
0    01/10/2017     110144          44        1004     25     3252.86   585.51
1    01/10/2017     110144          44        1014     37     5701.65  1026.30
2    01/10/2017     110113          13        1022     17      667.47   120.14
3    02/10/2017     110242          42        1010    139    21435.14  3858.33
4    02/10/2017     101021                    1012     16     2178.48   392.13
..          ...        ...         ...         ...    ...         ...      ...
110  05/11/2017     111519          19        1013    119    15993.14  2878.77
111  05/11/2017     111543          43        1017      5      144.83    26.07
112  06/11/2017     111646          46        1008      0        0.00     0.00
113  06/11/2017     111610          10        1028     43     2511.88   452.14
114  07/11/2017     111721          21        1001      2      129.82    23.37

[115 rows x 7 columns]

In [40]:
pd.set_option('display.max_rows', None)

In [41]:
df_mes1 = df
df_mes1.head()

,data,cod_pedido,cod_cliente,cod_produto,volume,faturamento,impostos
0,01/07/2017,107134,34,1009,153.0,12645.15,2276.13
1,01/07/2017,107141,41,1028,4.0,242.66,43.68
2,01/07/2017,100719,9,1028,361.0,20936.34,3768.54
3,02/07/2017,107228,28,1010,34.0,5232.61,941.87
4,02/07/2017,107223,23,1016,234.0,4457.96,802.43

In [42]:
df_mes2.data_compra.min()

'01/10/2017'

In [43]:
df_mes1.data.min()

'01/07/2017'